[submodule "kernels-ext-npu/RMSNorm"]
	path = kernels-ext-npu/RMSNorm
	url = https://huggingface.co/kernels-ext-npu/RMSNorm
[submodule "kernels-ext-npu/SwiGlu"]
	path = kernels-ext-npu/SwiGlu
	url = https://huggingface.co/kernels-ext-npu/SwiGlu
[submodule "kernels-ext-npu/MLP"]
	path = kernels-ext-npu/MLP
	url = https://huggingface.co/kernels-ext-npu/MLP
[submodule "kernels-ext-npu/flash-attention-2"]
	path = kernels-ext-npu/flash-attention-2
	url = https://huggingface.co/kernels-ext-npu/flash-attention-2
